@model IEnumerable<Teams>
@{
    ViewData["Title"] = "Teams";
}

<h2>Teams</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Background color</th>
            <th>Color</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="chip-color" style="background-color: @Html.DisplayFor(modelItem => item.BackgroundColor);"></div>
                </td>
                <td>
                    <div class="chip-color" style="background-color: @Html.DisplayFor(modelItem => item.Color);"></div>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
