<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeNames</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-md-12">
                @if (TempData["Error"] != null || TempData["Success"] != null || TempData["Warning"] != null)
                {
                    <div class="flash-message">

                        @if (TempData["Error"] != null)
                        {
                            <p class="alert alert-danger">@Html.Raw(TempData["Error"])</p>
                        }
                        @if (TempData["Warning"] != null)
                        {
                            <p class="alert alert-warning">@Html.Raw(TempData["Warning"])</p>
                        }
                        @if (TempData["Success"] != null)
                        {
                            <p class="alert alert-success">@Html.Raw(TempData["Success"])</p>
                        }
                    </div>
                }
            </div>
        </div>

        @RenderBody()
    </main>

    <script charset="utf-8" type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
    <script charset="utf-8" type="text/javascript" src="~/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
