@model IEnumerable<ViewGames>
@{
    ViewData["Title"] = "Games Page";
}
</div>
<h2>Game</h2>
<div class="row">
    <div class="col-12 text-right">
        <p>
            <a class="btn btn-outline-warning" role="button" asp-area="" asp-controller="Games" asp-action="Index">Back to list</a>
            <a class="btn btn-outline-success" role="button" asp-area="" asp-controller="Games" asp-action="GridColor" asp-route-id="@Model.ElementAt(0).GameId">Color Grid</a>
        </p>
    </div>
</div>

<div class="container-game">
    <input id="gameId" value="@Model.ElementAt(0).GameId" hidden />
    @for (int i = 0; i < Model.Count(); i += 5)
    {
        <div class="row">
            <div class="col-lg-1"></div>
            <div data-id="@Model.ElementAt(i).WordId" data-color="@Model.ElementAt(i).ColorName" data-background-color="@Model.ElementAt(i).BackgroundColorName" class="col-lg-2 word-guess">@Model.ElementAt(i).WordName</div>
            <div data-id="@Model.ElementAt(i + 1).WordId" data-color="@Model.ElementAt(i + 1).ColorName" data-background-color="@Model.ElementAt(i + 1).BackgroundColorName" class="col-lg-2 word-guess">@Model.ElementAt(i + 1).WordName</div>
            <div data-id="@Model.ElementAt(i + 2).WordId" data-color="@Model.ElementAt(i + 2).ColorName" data-background-color="@Model.ElementAt(i + 2).BackgroundColorName" class="col-lg-2 word-guess">@Model.ElementAt(i + 2).WordName</div>
            <div data-id="@Model.ElementAt(i + 3).WordId" data-color="@Model.ElementAt(i + 3).ColorName" data-background-color="@Model.ElementAt(i + 3).BackgroundColorName" class="col-lg-2 word-guess">@Model.ElementAt(i + 3).WordName</div>
            <div data-id="@Model.ElementAt(i + 4).WordId" data-color="@Model.ElementAt(i + 4).ColorName" data-background-color="@Model.ElementAt(i + 4).BackgroundColorName" class="col-lg-2 word-guess">@Model.ElementAt(i + 4).WordName</div>
            <div class="col-lg-1"></div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.word-guess').on('click', function () {
                // Get color and background color.
                var color = $(this).attr('data-color');
                var backgroundColor = $(this).attr('data-background-color');


                // Change color.
                $(this).css({ 'color': color, 'background-color': backgroundColor });
            })
        });
    </script>
}
