@model Games
@{
    List<SelectListItem> realTeamsSelect = (List<SelectListItem>)ViewData["RealTeamsSelect"];
    List<SelectListItem> teamsSelect = (List<SelectListItem>)ViewData["TeamsSelect"];
    List<SelectListItem> wordsSelect = (List<SelectListItem>)ViewData["WordsSelect"];
    ViewData["Title"] = "Games Page";
}
<h2>Create Game</h2>


<form asp-action="Edit">
    <input asp-for="Id" type="hidden" />
    <div class="container-game">
        @Html.AntiForgeryToken()
        
        <div class="form-group">
            <label asp-for="StartTeamId" class="control-label">Start team</label>
            <select class="form-control" asp-for="StartTeamId" asp-items="@realTeamsSelect">
                <option>Please select one</option>
            </select>
            <span asp-validation-for="StartTeamId" class="text-danger"></span>
        </div>

        <div class="form-group">
            @for (int i = 0; i < Model.Gameswords.Count(); i++)
            {
                if (i == 0 || i % 5 == 0)
                {
                    if (i > 0)
                    {
                        @Html.Raw("</div>")
                    }
                    @Html.Raw("<div class='row'>")
                }

                <div class="col word-guess">
                    <select class="form-control" asp-for="@Model.Gameswords.ElementAt(i).WordId" name="Gameswords[@(i)].WordId" asp-items="@wordsSelect">
                        <option>Please select one</option>
                    </select>
                    <select class="form-control" asp-for="@Model.Gameswords.ElementAt(i).TeamId" name="Gameswords[@(i)].TeamId" asp-items="@teamsSelect">
                        <option>Please select one</option>
                    </select>
                </div>

           }
        </div>
    </div>

    <div class="form-group">
        <a class="btn btn-outline-primary" role="button" asp-area="" asp-controller="Games" asp-action="Index">Back to list</a>
        <input type="submit" value="Save" class="btn btn-outline-success" />
    </div>
</form>
