@model IEnumerable<ViewGames>
@{
    Layout = null;
}
<html>
<head>
    <style>
        td {
            border: 2px solid black;
            width: 75px;
            height: 75px;
        }

        table {
            border: 10px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <table>
        @for (int i = 0; i < Model.Count(); i += 5)
        {
            <tr>
                <td style="@("background-color:" + Model.ElementAt(i).BackgroundColorName);"></td>
                <td style="@("background-color:" + Model.ElementAt(i + 1).BackgroundColorName);"></td>
                <td style="@("background-color:" + Model.ElementAt(i + 2).BackgroundColorName);"></td>
                <td style="@("background-color:" + Model.ElementAt(i + 3).BackgroundColorName);"></td>
                <td style="@("background-color:" + Model.ElementAt(i + 4).BackgroundColorName);"></td>
            </tr>
        }
    </table>
</body>
</html>
